PORT=5000
NODE_ENV=production
MONGO_URI=mongodb://127.0.0.1:27017/ai_ecommerce
JWT_SECRET=maren_ai_ecommerce_jwt_secret_key_2026_super_secure
JWT_EXPIRE=30d
CORS_ORIGIN=CORS_ORIGIN=http://localhost:5173,https://smart-cart-ai-blond.vercel.app
CLOUDINARY_CLOUD_NAME=e7fz8ytc
CLOUDINARY_API_KEY=939323189365465
CLOUDINARY_API_SECRET=BWhrwKHk-lPWsfinx-fNwj89OLA
JWT_REFRESH_SECRET=c4596a4e28c7055f1bd9b334bf4964683fcacd3339062a263560b592ec91aad6283b46e91c56b989f8928ac5e72793f8668253da2eddf5d0b8f41e3300521cec
RAZORPAY_KEY_ID=rzp_test_TMbFmOZ9NB1UFp
RAZORPAY_KEY_SECRET=pg45Lr8NE9dLR28NLrazZGFW
RAZORPAY_WEBHOOK_SECRET=smartcart123
RAZORPAY_WEBHOOK_URL=https://smartcart-ai-pcu4.onrender.com/api/v1/payment/webhook







